@tailwind base;
@tailwind components;
@tailwind utilities;

.copy-to-clipboard-button {
  width: 80px !important;
  height: 30px !important;
  margin-top: 13px !important;
  margin-right: 10px !important;
  background:red !important;
}
